{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="min-h-screen flex items-center justify-center px-4 py-10">
        <div class="card w-full max-w-md bg-base-100 shadow-xl">
            <div class="card-body">
                <h1 class="text-center text-2xl font-bold">Widgets Showcase</h1>
                <p class="text-center text-base-content/70">
                    Exemplo de uso dos widgets personalizados
                </p>

                <div class="divider"></div>

                <c-django-form :form="form" />
            </div>
        </div>
    </div>

{% endblock content %}
